.remove-margin {
    padding: 0;
    margin:0;
}
h2.center-text {
    text-align:center !important;
}
h6.center-text {
    text-align:center !important;
}
h4.center-text {
    text-align:center !important;
}
div.center-text {
    text-align:center !important;
}

