.watchlist {
    border-radius:50%;
    width:80px;
    height:80px;
    background-color:#AFAFAF;
    vertical-align: middle;
    line-height: 80px;
}

.white-text {
    color:white;
}
.padder-top {
    margin-top: 20px; 
}
.watchlist-font {
    font-weight: 600;
    font-size: 18px;
}
