.watchlist {
    border-radius:50%;
    width:80px;
    height:80px;
    /*color:white !important;*/
    background-color:rgb(164,222,253);
    vertical-align: middle;
    line-height: 80px;
}
.white-text {
    color:white;
}
.padder-top {
    margin-top: 20px; 
}
