.center {
    text-align:center !important;
}
/*table.table{
   overflow-y:scroll;
   height:500px;
   display:block;
}*/
.table-body{
   overflow-y:scroll;
   height:400px;
   /*display:block;*/
}
.setting-class {
    display:none;
}
.row-class {
    border-bottom: 1px solid black;
}
.row-class:hover {
    background-color: rgba(0,0,0,.1);
}
@media (max-width:993px) {
    table.hide-mobile {
        display:none;
    }
}
@media(min-width:992px) {
    tbody.boomboom {
        display:none;
    }
}