.background {
    background-color: rgb(167,178,201);
    height:100vh;
    min-height:100vh;
}
.background-main {
    height:100%;
    min-height:100%;
}

.welcome-nav {
    background-color: rgb(167,178,201);
    text-align:center;
    box-shadow: none;
    float:none;
    font-family: 'Space Mono', monospace;
}
.title {
  font-size:4rem;
  padding-top:15px;
  padding-bottom:0px;
  margin-bottom:0px;
  color:rgb(10,232,94);
  font-family: 'Space Mono', monospace;
}

.second-title {
    font-family: 'Space Mono', monospace;
    margin-top:7%;
    padding-left:7%;
    
}
.title-img-align {
    text-align:right;
}
