.background {
    height:100vh;
    min-height:100vh;
}
.sign-up-title {
  font-size:4rem;
  padding-top:15px;
  padding-bottom:0px;
  margin-bottom:0px;
  font-family: 'Space Mono', monospace;
  margin-left:5%;
}

/*a.cancel-button {
  font-family: 'Space Mono', monospace;
  color:black;
}

.alignment {
    text-align:center;
}
.border {
  border: 2px solid black;
  text-align: center;
}
.center {
  display: flex;
}*/

.contact-form-title {
    text-align: center;
    font-size: 30px;
    color: white;
    padding-bottom: 8%;
    padding-top: 12%;
    margin-left:10%;
}
.contact-form-font-color {
    color: grey;
}
@media (max-width: 768px) {
    div.form-group {
        text-align: left !important;
    }
    .contact-form-title {
        padding-top:5%;
        margin-left:0%;
    }
    div.form-group {
        text-align:center !important;
    }
}