.background {
    height:100vh;
    min-height:100vh;
}
.sign-up-title {
  font-size:4rem;
  padding-top:15px;
  padding-bottom:0px;
  margin-bottom:0px;
  font-family: 'Space Mono', monospace;
}

a.cancel-button {
  font-family: 'Space Mono', monospace;
  color:black;
}

.alignment {
    text-align:center;
}
.border {
  border: 2px solid black;
  text-align: center;
}
.center {
  display: flex;
}