html, body {
  margin:0;
}
.header {
  background: url(https://i.imgur.com/uXuLm3k.jpg) no-repeat center left scroll;
  height:375px;
}
.header-intro {
  margin-top:6%;
  background-color:rgba(255,250,240,.7);
  color:rgb(112,138,144);
  /*font-size:26px;*/
  display:inline-grid;
}
.App-intro {
  font-size: large;
}

