.main-font {
        font-family: 'Space Mono', monospace;
        margin:0 auto;
}
.background-color {
    background-color: #222;
    color:white;
    margin:0 auto;
    min-height: 100%;
    height:100%;
}

.padding-top {
    padding-top: 20px;
}
.alignment {
    text-align:center;
}