.background {
    height:100vh;
    min-height:100vh;
}
.background-main {
    height:100%;
    min-height:100%;
}
.welcome-nav {
    background-color: white;
    text-align:center;
    box-shadow: none;
    float:none;
    font-family: 'Space Mono', monospace;
    color:black;
}
.text-color {
    color:black;
}
.title {
  font-size:4rem;
  padding-top:15px;
  padding-bottom:0px;
  margin-bottom:0px;
  color:green;
  text-shadow: 5px,5px,black;
  font-family: 'Space Mono', monospace;
}

.second-title {
    font-family: 'Space Mono', monospace;
    margin-top:7%;
    padding-left:7%;
    
}
.title-img-align {
    text-align:right;
}
table.table{
   overflow-y:scroll;
   height:500px;
   display:block;
}

.title-page-img {
    max-width: 350px;
    height: auto;
}
.text-size {
    font-size:20px;
}